<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="true">
    <springProfile name="dev">
        <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <Pattern>%d %5p {%c} %m%n</Pattern>
            </encoder>
        </appender>

        <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <Pattern>%d %5p %m%n</Pattern>
            </encoder>
        </appender>

        <logger name="com.rentmarket.backend.domain" level="trace" additivity="false">
            <appender-ref ref="console" />
        </logger>

        <logger name="jdbc.sqlonly" level="info" additivity="false">
            <appender-ref ref="console" />
        </logger>
        <logger name="jdbc.sqltiming" level="info" additivity="false">
            <appender-ref ref="console" />
        </logger>
        <logger name="jdbc.resultsettable" level="info" additivity="false">
            <appender-ref ref="console" />
        </logger>

        <root level="info">
            <appender-ref ref="console" />
        </root>
    </springProfile>
    <springProfile name="prod">
        <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>board.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>reservation-%d{yyyy-MM-dd}.log</fileNamePattern>
                <maxHistory>30</maxHistory>
            </rollingPolicy>
            <encoder>
                <Pattern>%d %5p {%c} %m%n</Pattern>
            </encoder>
        </appender>

        <logger name="com.rentmarket.backend" level="debug" appender-ref="file"/>

        <root level="off">
            <appender-ref ref="file" />
        </root>
    </springProfile>
</configuration>